* {
    color: var(--dark-text-color);
}

.message-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 0 1.5rem;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    font-size: 1.5rem;
}

.message-sent {
    position: absolute;
}

.message-sent .username {
    font-weight: bold;
    font-size: .8rem;
}

.right {
    justify-content: right;
}

.right .user-avatar {
    background-color: #4caf50;
    color: white;
}

.right .message-sent {
    right: 45px;
}

.right .message-sent {
    text-align: right;
}

.left {
    justify-content: left;
}

.left .user-avatar {
    background-color: #2196f3;
    color: white;
}

.left .message-sent {
    text-align: left;
}


.left .message-sent {
    left: 45px;
}